{% extends "layout.html" %}
{% block content %}
<div class="container main" style=" margin-top: 50px;">
    <div class="login-box col-md-12">
        <div class="clearfix box_wrap">
            <div class="box_left" style="font-size:20px;"><h2 style="margin-bottom:2px;margin-top: 10px ">お弁当</h2></div>
            <div class="box_right" style="font-size:20px;"><a href="/addmeal">
                <button type="button" class="btn btn-default navbar-btn" style="float: right">追加</button>
            </a></div>
        </div>
        <ul class="list-group">
            {% for row in data %}
                <li class="list-group-item" style="padding:5px 5px;">
                    <div class="clearfix box_wrap">
                        <div class="box_left" style="font-size:20px;margin-top: 5px">{{ row.name }}</div>
                        <div class="box_right"><a href="/editmeal?id={{ row.id }}">
                            <button type="button" class="btn btn-primary navbar-btn" style="float: right">編集</button>
                        </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}